# ---- ROS & catkin ----
.ros/
.catkin_tools/

# catkin workspace build outputs
catkin_ws/build/
catkin_ws/devel/
catkin_ws/install/
catkin_ws/logs/
catkin_ws/.catkin_tools/

*.ply

# IDE / Editor
.vscode/
.idea/

# その他
*.log